/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
.header {
  background-color: #007bff;
  display: flex;
  justify-content: space-around;
  height: 120px;
  width: 100%;
}


.back-link {
  line-height: 120px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20;
  color: white;
  
}

/* .nav-link {
  color: white;
  font: none;
  padding-left: 80px;
  margin-top: 3%;
} */

.back-link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.back-link a:hover {
  text-decoration: underline;
}

.header-home {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 2.35%;
}

.container {
  padding: 20px;
  background-size: 100%;
  /* position: relative;
  flex: auto; */
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;;
}

.profile, .appointment-form, .appointment-list {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: 100%;
  /* position: relative;
  flex: auto; */
}

.appointment-submit {
    padding: 20px;
    margin-left: 0px;
}  
  
.button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10%;
}

.button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

nav ul {
  list-style-type: none;
  margin-top: 5%;
  padding: 0;
  
}

.menu {
  text-align: center;
  margin-bottom: 3%;
}



.profile p {
  margin: 5px 0;
}

.appointment-form {
  margin: 5px 0;
}

.profile strong {
  font-weight: bold;
  margin-right: 5px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.appointment-item {
  border: 1px solid #cccccc;
  padding: 10px;
}

.date {
  font-weight: bold;
}

.time {
  color: #555555;
}

.patient-name, .appointment-date, .appointment-time {
  margin-top: 0px;
}

.BS {
  text-align: center;
  font-size : 40px;
}

.information {
  margin-left: 10%;
  font-size: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
}
  
.infor {
  margin-left: 50px;
}


.appoi-form {
  margin-left: 10%;
  font-size: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.form {
  margin-top: 5px;
}

.form-ingr {
  margin-left: 50px;
}